@model SammysAuto.ViewModel.CarAndServicesViewModel
@{
    ViewData["Title"] = "Index";
}
<br />
@Html.Partial("_CarDetailsInService")
<hr />
<br />

<h2>Service Record</h2>
<div class="form-border row">
    @Html.Partial("_DisplayPastServices",Model)

    <input type="button" class="btn btn-sm btn-primary" value="Print" onclick="window.print();" />

    <a asp-action="Index" asp-controller="Cars" asp-route-userId="@Model.UserId" class="btn btn-sm btn-success">Back to List</a>
</div>
